*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 
.form{
text-align: center;
background-color: #ffffff;
font-size: 20px;
font-family: Roboto,Arial, sans-serif;;
}

.form input{
    text-align: center;
    font-size: 16px;
}
