*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
background: #019ca1;
}

main{
  border: 0px;
  height: 500px;
  width: 100%;
  padding: 10px 10px;
  
}

.titulo{
  border: black 2px solid;
  margin: 20px auto;
  padding: 50px;
  background: #ffffff;
  
}
.titulo-img{
  float: left;
  padding-left: 100px;
  margin-top: -60px;
  height: 100%;
  width: 400px;
}
.titulo-img2{
  float: right;
  padding-right: 100px;
  margin-top: -60px;
  height: 100%;
  width: 400px;
}
 .titulo-texto{
   text-align: center;
   color: #019ca1;
 }

.Menu-list{
  padding-right: 8px;
  margin-top: 20px;
  list-style: none;
  padding-left: 0px;
  background-color: #073d3d;
  text-align: center;
  word-spacing: 5rem;
  font-family: Roboto,Arial, sans-serif;
  font-size: 20px;
}
.menu-nav-item{
  display: inline-block;
}
.menu-nav-item a{
  color: rgb(255, 255, 255);
  padding: 5px;
  text-decoration: none;
}
.menu-nav-item a:active{
  color: rgb(32, 32, 32);
}
