body
{

}

#img1
{
   max-width: 30%; 
   height: auto; 
   width: auto;
  
}

#inicio
{
    background: #ad4d0e;
    box-shadow  : 0px 2px 20px 0px rgba(0,0,0,0.5);
    color:rgb(240, 240, 240);
    font-weight: bold;
    margin: 0cm;
    padding: 0.5cm;  
    border: 0cm;  
}

nav
{
    background: #cc8605;
    color:rgb(240, 240, 240);
    font-weight: bold;
    text-align: center;
}

a { 
    font-family: helvetica;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    caret-color: white;
  }
  
  a:visited {
    color: #ffffff00;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #ffffff00;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #ffffff00;
  }
  
  a:active {
    background: #26530100;
    color: #cdfeaa00;
  }